*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(189, 94, 51);
  overflow-x: hidden;
  height: 100%;
}
#page {
  display: flex;
  flex-wrap: wrap;
}

/* ---------------- */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(167, 167, 167);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: none;
}

/* --------------- */
/* --------------- */

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 1;
}

h1.logo {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 75px 0 70px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

/* --------------- */
/* --------------- */
/* ---------------- */

#top {
  width: 100vw;
  height: 120vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.box1 {
  width: 100%;
  height: 70%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.box1 p:nth-child(1) {
  width: 30%;
  color: white;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: fixed;
  bottom: 20%;
  left: 4.5%;
  transform: rotate(-90deg);
  z-index: 2;
  line-height: 70px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.box1 p:nth-child(2) {
  color: white;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: fixed;
  bottom: 16%;
  left: 50%;
  z-index: 2;
  line-height: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

/* ------- */
.img-box1 {
  width: 80%;
  height: 100%;
  filter: grayscale(1);
  background-image: url(../img/pierrot-1200-1200-675-675-crop-000000.jpg);
  position: relative;
}

.img-box1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);

  /* -moz-linear-gradient(45deg, #808080 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #808080 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #808080 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #808080 75%); */

  background-size: 5px 5px;
  background-position: center;
  /* background-position: 0 0, 5px 0, 5px -5px, 0px 5px; */
  opacity: 0.4;
}

.box2 {
  width: 100%;
  height: 30%;
  background-color: #000;
}

/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
/* --------------- */
#middle {
  width: 100vw;
  height: 120vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 90%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // border: 2px solid #fff;

    /* ------------------------ */
    /* the box with the buttons */
    /* ------------------------ */
    div.tabs {
      width: 30%;
      height: 100%;
      padding: 20px;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tabLink {
        width: 80%;
        height: 5%;

        cursor: pointer;
        margin: 2px 0;
        border: 0;
        border: 1px solid #000;

        background-image: url(../img/belmondo-gif.gif);
        background-position: top;
        text-transform: uppercase;
        color: #000;
        &:hover {
          background-image: url(../img/belmondo-gif.gif);
          background-position: center;
          transition: all 0.5s ease-in-out;
        }
      }

      /* Dont forget to add a dot to the active, because its a class */
      .tabs .tabLink.active {
        background-color: rgb(195, 197, 91);
      }
    }
  }

  /* ------------------------ */
  /* the box with the tabsContent */
  /* ------------------------ */
  .tabsContent-Wrapper {
    width: 70%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/m.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .tabContent {
      width: 50%;
      height: 100%;
      display: none;
      filter: grayscale(1);
      z-index: -4;

      // #tab1,
      // #tab2,
      // #tab3,
      // #tab4,
      // #tab5,
      // #tab6,
      // #tab7,
      // #tab8 {
      //   z-index: 3;
      // }

      /* ---------------------- */
      .img-set {
        width: 100%;
        max-height: 100%;
      }

      .img {
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
}

/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
#bottom {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;

  iframe {
    width: 40%;
    height: 70%;
  }
}
